
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Say goodbye to tedious payroll calculations.
        </h1>
    </div>
</div>

<div class="row">

    <div class="col-md-8">
        <img class="img-responsive" src="~/Content/images/mainpage-hero.jpg" alt="">
    </div>

    <div class="col-md-4">
        <h3>Managing your payroll expenses was no so easy.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
        <h3>Features</h3>
        <ul>
            <li>Lorem Ipsum</li>
            <li>Dolor Sit Amet</li>
            <li>Consectetur</li>
            <li>Adipiscing Elit</li>
        </ul>
    </div>

</div>


<div class="row">

    <div class="col-lg-12">
        <h3 class="page-header">Services</h3>
    </div>

    <div class="col-sm-3 col-xs-6">
        <div class="form-group">
            <a href="#">
                <img class="img-responsive service-item" src="~/Content/images/mainpage-feature1.jpg" alt="Service 1">
            </a>
        </div>
        <h5>Lorem ipsum.</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>

    <div class="col-sm-3 col-xs-6">
        <div class="form-group">
            <a href="#">
                <img class="img-responsive service-item" src="~/Content/images/mainpage-feature2.jpg" alt="Service 2">
            </a>
        </div>
        <h5>Dolor sit amet.</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>

    <div class="col-sm-3 col-xs-6">
        <div class="form-group">
            <a href="#">
                <img class="img-responsive service-item" src="~/Content/images/mainpage-feature3.jpg" alt="Service 3">
            </a>
        </div>
        <h5>Consectetur.</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>

    <div class="col-sm-3 col-xs-6">
        <div class="form-group">
            <a href="#">
                <img class="img-responsive service-item" src="~/Content/images/mainpage-feature4.jpg" alt="Service 4">
            </a>
        </div>
        <h5>Adipiscing elit.</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>

</div>
